.sidebar {
    border-radius: 20px 20px 0 0;
    height: 1400px;
    max-width: 250px;
    .logo {
        text-align: center;
        padding: 20px 0 0 0;
        font-size: 20px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        li {
            display: flex; 
            margin-top: 10px;
            border-radius: 10px;
            &:not(.active):hover {     
                background-color: rgb(185, 202, 255);
                border: 1px solid rgb(26, 68, 255);
            }
            a {
                width: 100%;
                padding: 10px 20px;
                span {
                    font-size: 18px;
                    margin-right: 10px;
                }
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
            &.active {
                background-color: rgb(40, 108, 255);
                *{
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}