* {
    direction: $app-direction;
    list-style: none;
    font-family: $app-font;
}
a { text-decoration: none; color: black;}
body {
    background-color:$app-background;
    overflow: hidden;
    padding: 20px;
}

.box-white {
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
